################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PE-Tools/bin/Debug
/.vs/PE-Tools
/PE-Tools/obj
/.vs/CopilotSnapshots/
/PE-Tools/.vs
/PE-Tools.Tests/obj
/PE-Tools.Tests/bin
