################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PE-Tools/bin/Debug
/.vs/PE-Tools
/PE-Tools/obj
